.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/57e0d2454f51aa14f6da8c7dda793678153bdee757596c48732f7bd49f4ac051ba_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 459px}
.u-section-1 .u-text-1 {margin: 195px auto 0}
.u-section-1 .u-text-2 {margin: 67px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 378px}
.u-section-1 .u-text-1 {width: auto; margin-top: 154px}
.u-section-1 .u-text-2 {width: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 385px}
.u-section-1 .u-text-1 {margin-top: 140px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 289px}
.u-section-1 .u-text-1 {margin-top: 59px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px}
.u-section-1 .u-text-1 {margin-top: 118px}
.u-section-1 .u-text-2 {margin-right: 123px} }.u-section-2 .u-sheet-1 {min-height: 252px}
.u-section-2 .u-layout-wrap-1 {margin: 50px 0}
.u-section-2 .u-layout-cell-1 {min-height: 137px}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 137px}
.u-section-2 .u-container-layout-2 {padding: 20px 60px}
.u-section-2 .u-text-2 {margin: 0}
.u-section-2 .u-btn-1 {font-weight: normal; margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 139px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-btn-1 {margin-left: auto; margin-right: auto} }.u-section-3 .u-sheet-1 {min-height: 252px}
.u-section-3 .u-layout-wrap-1 {margin: 50px 0}
.u-section-3 .u-layout-cell-1 {min-height: 137px}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-text-1 {margin: 0}
.u-section-3 .u-layout-cell-2 {min-height: 137px}
.u-section-3 .u-container-layout-2 {padding: 20px 60px}
.u-section-3 .u-text-2 {margin: 0}
.u-section-3 .u-btn-1 {font-weight: normal; margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 139px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-btn-1 {margin-left: auto; margin-right: auto} }.u-section-4 .u-sheet-1 {min-height: 252px}
.u-section-4 .u-layout-wrap-1 {margin: 50px 0}
.u-section-4 .u-layout-cell-1 {min-height: 137px}
.u-section-4 .u-container-layout-1 {padding: 20px}
.u-section-4 .u-text-1 {margin: 0}
.u-section-4 .u-layout-cell-2 {min-height: 137px}
.u-section-4 .u-container-layout-2 {padding: 20px 60px}
.u-section-4 .u-text-2 {margin: 0}
.u-section-4 .u-btn-1 {font-weight: normal; margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 139px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-btn-1 {margin-left: auto; margin-right: auto} }