.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/54e6d0424953b108f5d084609629317e113fdce15b4c704f752f7ad29f4dc45e_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 511px}
.u-section-1 .u-text-1 {width: 358px; margin: 60px auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 421px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 322px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 242px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px}
.u-section-1 .u-text-1 {width: 340px} }.u-section-2 .u-sheet-1 {min-height: 49px}.u-section-3 .u-sheet-1 {min-height: 161px}
.u-section-3 .u-layout-wrap-1 {margin: 1px auto 1px 0}
.u-section-3 .u-layout-cell-1 {min-height: 137px}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-text-1 {font-size: 1.875rem; margin: 0}
.u-section-3 .u-layout-cell-2 {min-height: 137px}
.u-section-3 .u-container-layout-2 {padding: 20px 60px}
.u-section-3 .u-text-2 {margin: 0}
.u-section-3 .u-btn-1 {font-weight: normal; margin: 13px auto 0 25px}
.u-section-3 .u-btn-2 {font-weight: normal; margin: -45px 254px 0 auto}
.u-section-3 .u-btn-3 {font-weight: normal; font-size: 1rem; margin: -45px 75px 0 auto}
.u-section-3 .u-btn-4 {font-weight: normal; margin: -45px auto 0 230px; padding: 10px 29px 10px 28px}
.u-section-3 .u-text-3 {margin: 13px 13px 0 auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 164px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-btn-1 {margin-top: 15px; margin-left: 20px}
.u-section-3 .u-btn-2 {margin-top: -43px; margin-right: 178px}
.u-section-3 .u-btn-3 {margin-right: 31px}
.u-section-3 .u-btn-4 {margin-top: -46px; margin-left: 188px}
.u-section-3 .u-text-3 {width: auto; margin-top: 15px; margin-right: 31px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 160px}
.u-section-3 .u-layout-wrap-1 {margin-top: 2px; margin-bottom: 2px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-text-1 {font-size: 1.5rem}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-btn-1 {margin-top: 11px; margin-left: 10px; padding: 10px 23px 10px 22px}
.u-section-3 .u-btn-2 {margin-top: -45px; margin-right: 132px}
.u-section-3 .u-btn-3 {margin-right: 0}
.u-section-3 .u-btn-4 {margin-top: -45px; margin-left: 153px; padding-right: 22px; padding-left: 21px}
.u-section-3 .u-text-3 {margin-top: 11px; margin-right: 16px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 257px}
.u-section-3 .u-layout-wrap-1 {margin-top: 1px; margin-bottom: 1px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 70px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-btn-2 {margin-right: 113px}
.u-section-3 .u-btn-3 {margin-right: 10px; padding: 10px 11px}
.u-section-3 .u-btn-4 {margin-left: 173px}
.u-section-3 .u-text-3 {margin-right: 25px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 298px}
.u-section-3 .u-layout-wrap-1 {margin-top: 3px; margin-bottom: 3px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 76px}
.u-section-3 .u-layout-cell-2 {min-height: 216px}
.u-section-3 .u-container-layout-2 {padding-bottom: 12px}
.u-section-3 .u-btn-1 {margin-top: 3px; margin-left: 18px; padding-left: 10px; padding-right: 10px}
.u-section-3 .u-btn-2 {margin-top: 8px; margin-right: auto; margin-left: 18px; padding: 10px 34px}
.u-section-3 .u-btn-3 {margin-top: -46px; margin-right: 35px; padding-left: 26px; padding-right: 26px}
.u-section-3 .u-btn-4 {margin-top: -96px; margin-right: 35px; margin-left: auto}
.u-section-3 .u-text-3 {margin-top: 55px; margin-right: 0} }.u-section-4 .u-sheet-1 {min-height: 85px}
.u-section-4 .u-btn-1 {margin: 20px auto 20px 30px} 

@media (max-width: 1199px){ .u-section-4 .u-btn-1 {margin-left: 0} }