<div class="u-clearfix u-sheet u-sheet-1">
    <a href="/" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="853">
        <img src="/images/53e5d3404d55a914f6da8c7dda793678153bdee757596c48732f7bd49f4fcd59be_1280.jpg"
            class="u-logo-image u-logo-image-1" data-image-width="77">
    </a>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="SM">
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link u-text-active-palette-4-light-2 u-text-white" href="#">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                </svg>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </symbol>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-4-light-2 u-text-white"
                        href="/">Main</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-4-light-2 u-text-white">Profile</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-4-light-2 u-text-white"
                        href="/topic?page=1">Programming</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-4-light-2 u-text-white">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Main</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link">Profile</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/topic?page=1">Programming</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link">Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
    <%- userStatus %>

</div>