<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Hong's Blog">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Programming</title>
  <link rel="stylesheet" href="css/nicepage.css" media="screen">
  <link rel="stylesheet" href="css/Programming.css" media="screen">
  <script class="u-script" type="text/javascript" src="javascripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="javascripts/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 2.25.0, nicepage.com">




  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html",
		"logo": "images/53e5d3404d55a914f6da8c7dda793678153bdee757596c48732f7bd49f4fcd59be_1280.jpg"
}</script>
  <meta property="og:title" content="Programming">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="/">
</head>

<body class="u-body u-overlap">
  <header class="u-align-left u-clearfix u-grey-90 u-header u-header" id="sec-ecdc">
    <%- include ('../part/header.ejs') %>
  </header>
  <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280"
    data-image-height="853" id="sec-293d">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-default u-title u-text-1">Programming</h1>
      <p class="u-large-text u-text u-text-default u-text-variant u-text-2">working</p>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-e2c3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-13 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h3 class="u-align-center u-text u-text-1">title</h3>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-47 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <p class="u-align-left u-text u-text-2">desciprtion</p>
                <a href="#" class="u-black u-btn u-button-style u-btn-1">Read More</a>
                <p class="u-align-center u-small-text u-text u-text-variant u-text-3">by displayname</p>
                <p class="u-align-center u-small-text u-text u-text-font u-text-variant u-text-4">2020/09/22</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-3" id="sec-f51f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <ul class="responsive-style1 u-absolute-hcenter u-expanded-height u-pagination u-unstyled u-pagination-1">
        <li class="disabled prev u-nav-item u-pagination-item">
          <a class="u-button-style u-nav-link" href="#" style="padding: 40px 12px;">〈</a>
        </li>
        <li class="active u-nav-item u-pagination-item">
          <a class="u-button-style u-nav-link" href="#" style="padding: 40px 12px;">1</a>
        </li>
        <li class="u-nav-item u-pagination-item">
          <a class="u-button-style u-nav-link" href="#" style="padding: 40px 12px;">2</a>
        </li>
        <li class="u-nav-item u-pagination-item">
          <a class="u-button-style u-nav-link" href="#" style="padding: 40px 12px;">3</a>
        </li>
        <li class="u-nav-item u-pagination-item u-pagination-separator">
          <a class="u-button-style u-nav-link" href="#" style="padding: 40px 12px;">...</a>
        </li>
        <li class="u-nav-item u-pagination-item">
          <a class="u-button-style u-nav-link" href="#" style="padding: 40px 12px;">8</a>
        </li>
        <li class="next u-nav-item u-pagination-item">
          <a class="u-button-style u-nav-link" href="#" style="padding: 40px 12px;">〉</a>
        </li>
      </ul>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c00f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Sample footer text</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
      <span>HTML Template</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/html" target="_blank">
      <span>Nicepage</span>
    </a>.
  </section>
</body>

</html>