<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Hong's Blog">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>topic</title>
  <link rel="stylesheet" href="../css/nicepage.css" media="screen">
  <link rel="stylesheet" href="../css/topic.css" media="screen">
  <script class="u-script" type="text/javascript" src="../javascripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../javascripts/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 2.25.0, nicepage.com">



  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html",
		"logo": "images/53e5d3404d55a914f6da8c7dda793678153bdee757596c48732f7bd49f4fcd59be_1280.jpg"
}
  </script>
  <meta property="og:title" content="topic">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="/">
</head>

<body class="u-body u-overlap">
  <header class="u-align-left u-clearfix u-grey-90 u-header u-header" id="sec-ecdc">
    <%- include ('../part/header.ejs') %>
  </header>
  <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280"
    data-image-height="1183" id="sec-293d">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-title u-text-1">Title</h1>
    </div>
  </section>
  <section class=" u-clearfix u-valign-bottom u-section-2" id="sec-e2c3">
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-left-cell u-size-11 u-layout-cell-1">
            <div class="  u-container-layout u-container-layout-1">
              fdfs
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-right-cell u-size-49 u-layout-cell-2">
            <div class=" u-container-layout u-container-layout-2">
              dasdas
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c00f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Sample footer text</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
      <span>HTML Template</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/html" target="_blank">
      <span>Nicepage</span>
    </a>.
  </section>
</body>

</html>