<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Login">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>register</title>
  <link rel="stylesheet" href="css/nicepage.css" media="screen">
  <link rel="stylesheet" href="css/register.css" media="screen">
  <script class="u-script" type="text/javascript" src="javascripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="javascripts/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 2.25.0, nicepage.com">


  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html"
}</script>
  <meta property="og:title" content="register">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="/">
</head>

<body class="u-body">
  <section class="u-align-center u-clearfix u-image u-section-1" id="sec-fc87" data-image-width="1280"
    data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-1">Register<br>
      </h2>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
          style="padding: 10px" source="custom" name="form">
          <div class="u-form-group u-form-group-1">
            <label for="text-d642" class="u-form-control-hidden u-label"></label>
            <input type="text" placeholder="" id="text-d642" name="text"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
          </div>
          <div class="u-form-email u-form-group u-form-group-2">
            <label for="email-3b9a" class="u-form-control-hidden u-label">Email</label>
            <input type="email" placeholder="" id="email-3b9a" name="email"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-3">
            <label for="text-f327" class="u-form-control-hidden u-label"></label>
            <input type="text" placeholder="" id="text-f327" name="text-1"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-4">
            <label for="text-4440" class="u-form-control-hidden u-label"></label>
            <input type="text" placeholder="" id="text-4440" name="text-2"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
          </div>
          <div class="u-align-right u-form-group u-form-submit u-form-group-5">
            <a href="https://nicepage.com" class="u-btn u-btn-submit u-button-style">Submit</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try
            again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>



  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
      <span>HTML Template</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/html" target="_blank">
      <span>Nicepage</span>
    </a>.
  </section>
</body>

</html>