<%- include('./topicList.ejs') %>
<section class="u-clearfix u-section-3" id="sec-0c25">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/topic/create/<%- userID %>"
            class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-4">create</a>
    </div>
</section>