<%- include('./topicList.ejs') %>
<section class="u-clearfix u-section-3" id="sec-0c25">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/topic/create/<%- userID %>"
            class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-4">create</a>
    </div>
</section>
<section class="u-clearfix u-section-3" id="sec-f51f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <ul class="responsive-style1 u-absolute-hcenter u-expanded-height u-pagination u-unstyled u-pagination-1">
            <li class="prev u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="" style="padding: 40px 12px;">〈</a>
            </li>
            <li class="active u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="" style="padding: 40px 12px;">1</a>
            </li>
            <li class="next u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="" style="padding: 40px 12px;">〉</a>
            </li>
        </ul>
    </div>
</section>